body{
    background-color: rgb(239, 255, 255);
    color: rgb(0, 0, 0);  font-family: "SUSE", sans-serif;
    padding: 0 150px;
}

header{
    background-color: rgba(144, 198, 215, 0.609);
    padding: 40px;
}

p , ul{

    font-size: 20px;
}



.link{
    color: rgba(165, 42, 42, 0.803);
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(188, 247, 255);
    padding: 20px;
    border-radius: 30px;
}


h1{
    color: cadetblue;
    text-align: center;
}
